<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Famous Role</th>
        <th>Special Skill</th>
        <th>Best Movie</th>
    </tr>
    <tr>
        <td th:text="${actor.getName()}"></td>
        <td th:text="${actor.getFamousRole()}"></td>
        <td th:text="${actor.getSpecialSkill()}"></td>
        <td th:text="${actor.getBestMovie()}"></td>
    </tr>
</table>
</body>
</html>